.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('C:/Users/arif_/Documents/Carshipy Official/public/images/car-carrier-image.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 600px;
    display: flex;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .qform {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .qform label {
    margin-bottom: 10px;
  }
  
  .qform input,
  .qform select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .qform button[type="submit"] {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  